@charset "UTF-8";
/* CSS Document */

#center { display: table;
  position:absolute; top: 0px; left: 139px; z-index: 1;
  width: 700px; height: 100%;

}

#valign { display: table-cell;
  position: relative;
  width: 700px;
  vertical-align: middle;
}

#creditsText {
	display: table-cell;
	position:relative;
	top: 0px;
	width: 700px;
	height: 450px;
	text-align:center;
	vertical-align:middle;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 23px;
	background: url('../BGs/SMAperiodicals.png') no-repeat;
	overflow: visible;
	visibility: visible;
}

#wrapper {
  position:relative; top: 0px; left: 200px;/* z-index:1;*/
  width:300px; height: 450px;
  overflow:hidden;
  opacity: .65;
  background:#fff;
}

#scroller {
  left: 0px;
 width:223px;/* width:90%;*/
  padding-bottom: 150px; padding-left: 25px; padding-right: 35px;
  margin-right: auto; margin-left: auto;
}


#projectUI {
	height: 78px;
	z-index:10;
}